.header_logo{
    display: flex;
    align-items: center;
    min-width: 50px;
    min-height: 118px;
}
.header_logo > h1{
    font-size: 0.1rem;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_top{
    display: flex;
    justify-content: space-between;
}