

.cartNotLogin{
  text-align: center;
  padding: 40px;
}

.cartNotLogin h4{
  font-size: 18px;
  margin-bottom: 6px;
}

.cartNotLogin p{
  font-size: 14px;
  margin-bottom: 6px;
}

.cartNotLogin div:last-child{
  
  width: 270px;
  height: 60px;
  color: white;
  margin: auto;
  background-color: #ff3e3e;


}

.cartNotLogin div:last-child h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
}

.cartInfo{
  padding: 15px;
}

.cartInfo h3{
  font-size: 16px;
}

.cartInfo ul{

  font-size: 13px;
  
}

.cartInfoCaution{
  padding: 0px 20px ;
  font-size: 12px;
  color: #888;
}