.searchBarContainer {
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100vh;
  background-color:white;
  z-index:9999;
  position:fixed;
}

/* .searchBarBox {
  margin:5px 15px;
} */

.searchPreIconBox {
  width: 30px;
  height: 40px;
  display: table;
}

.searchPreIcon{
  display: table-cell;  
  text-align: center;
  vertical-align: middle;
}

.searchBarPrevious{
  display:flex;
  justify-content:space-between;
  
}

.searchBarRight {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBarInput {

  display:flex;
  align-items:center;
  width: 100%;
  

}

.searchBarInput input {
  height: 40px;
  width: 100%;
  border: none;
}

.searchBarIcon {
  position: absolute;
  
  right: 10%;
}

.searchCartIcon{
  width: 24px;

}

/* 최근 검색어 부분 */

.searchRecentKeyword{
  display: table;
  width: 100%;
}

.searchRecentKeyword div {
  text-align: center;
}

/* 바텀 네브 */

.bottomNav ul{
  padding-top: 5px;
  background-color: #fbfbfb;
  box-shadow:0 -1px 4px 0 rgb(0 0 0 / 5%), inset 0 1px 0 0 #fff;
}

.bottonNavFont {
  font-size: 10px;
  color: #8b8b8b;
}

.bottonNavIconSize {
  font-size: 24px;
}


.mainTitleSubTotal{
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.8px;
  margin: 0 15px;
}


.mainTitleSubTotal div h3 {
  font-size: 20px;
  letter-spacing: -1.5px;
}

.mainTitleSubTotal div p {
  margin-top: 2px;
  font-size: 14px;
  color: #777777;
}

.mainTitleSubTotal a {
  color: #969696;
  font-size: 13px;
}
.footerContents{
    font-size: 10px;
}

.footerBold{
    font-weight: 500;
    margin-bottom: 3px;
    
}

.footerLight{
    color: #888;
    margin-bottom: 3px;
}

.footerHyperLink{
    display: flex;
    justify-content: space-between;
}
.footerHyperLink li {
    display: flex;
    justify-content: space-between;
}

.footerHyperLink li::after{
    content: '|';
}


.mainSliderQuarterContainer{
  margin-left: 15px;
}


.mainFooterContainer{
  font-size: 10px;
  letter-spacing: -0.8px;
  padding: 0 20px;
  overflow: auto;
}

.mainFooterContainer h5{
font-size: 11px;
}



.mainFooterContainer ul{
  color: #414141;
  display: flex;
  font-size: 11px;
  flex-wrap: wrap;
}


.mainFooterContainer li::after{
  content: '|';
  margin: 0px 4px;
  color: #414141;
}

.mainFooterContainer li:nth-child(4){
  color: red;
}

.mainFooterContainer p{
  font-size: 10px;
  color: #888;
}

.mainFooterContainer div {
  margin: 6px 0px;
}

.mainFooterContainer .mainFooterInform span{
  text-decoration: underline;
  color: #414141;
}

.mainFooterCall{
  
  background-color: #717178;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
  font-size: 11px;
}

.mainFooterCallIcon{
  padding-top: 10px;
  display: flex;
}

.mainFooterCallIcon div{
  margin-right: 5px;
}

.mainFooterCallIcon div:last-child{
  width: 100%;
}

.mainFooterCallIconSelect span{
  /* background: red; */
  font-size: 28px;
  width: 28px;
  height: 28px;
}

.mainFooterCallWords{
  display: flex;
  flex-direction: column;
  justify-content:center
}

.mainFooterCallRight{
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
}

.mainFooterCallRight div{
  
  border: 1px solid #606066;
  background-color: #606066;
  text-align: center;
  /* padding: 2px 6px; */
  margin-right: 4px;
  width:80%;

}

.mainFooterThreeBar{
  display: flex;
  justify-content: center;
  padding: 8px 24px;
  background-color: #dbdbe0;
}

.mainFooterThreeBar p{
  color: #565656;
  font-size: 11px;
}

.mainFooterThreeBar p:not(:last-child)::after{
  content: '|';
  margin: 0px 30px;
  color: #565656;
}

.cartHeaderLayout{
  height: 45px;
  display: flex;
  justify-content: space-between;
  line-height: 45px;
  border-bottom: 1px solid #e2e2e2;
}

.cartHeaderLayout div:first-child{
  width: 50px;
  text-align: center;
}

.cartHeaderLayout div:first-child span{
  line-height: 45px;
}

.cartHeaderLayout h2 {
  font-size: 15px;
  font-weight: 600;
}

.cartHeaderLayout div:last-child{
  width: 80px;
  text-align: center;
}

.cartHeaderLayout div:last-child span{
  line-height: 45px;
  margin-right: 5px;
  font-size: 28px;
}

/*  */

.mypageLayout{
  height: 45px;
  display: flex;
  justify-content: space-between;
  line-height: 45px;
  border-bottom: 1px solid #e2e2e2;
}

.mypageLayout > div:first-child{
  
  width: 50px;
  text-align: center;
}

.mypageLayout > div:first-child span{
  line-height: 45px;
}

.mypageLayout h2 {
  font-size: 15px;
  font-weight: 600;
}

.mypageLayoutRight{
  display: flex;
}

.mypageLayoutRight span{
  height: 45px;
  line-height: 45px;
  padding-right: 6px;
}





.headerSearchIn{
  display: flex;
  align-items: center;
}


.headerLogo{
  display: flex;
  align-items: center;
  width: 120px;

}


.headerLogo h1 {
  font-weight: bolder;
  font-size: 1.1em;
}

.headerLogo p {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -1px;
}

.headerLayout {
  margin: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.headerLayoutRight{
  display: flex;
}

.headerLayoutRightCart {
  margin-left: 8px;
  
}

.headerLayoutRightCart span{
  line-height: 40px;
}

.headerSearchBar{
  position: relative;
}

.headerSearchBar input{
  min-width: 20px;
  height: 40px;
  border: 0px;
  background-color: #F5F5F5;
}

.headerSearchIcon {
  position: absolute;
  right: 4px;
  top: 20%;
}

.searchModal{
  /* background-color: red; */
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}


.searchModalLeft span{
  line-height: 40px;
}

.searchModalRightBox{
  display: flex;
  position: relative;
}


.searchModalMiddleProps span{
  /* background-color: blue; */
  position: absolute;
  right: 10%;
  line-height: 40px;
} 

.searchModalMiddleProps input{
  line-height: 40px;
  min-width: 340px;
  border: none;
}

.searchModalCart span{
  line-height: 40px;
  margin-left: 6px;
}

/* 위시리스트 */

.wishListIconInnerContainer{
  display: flex;
  position: absolute;
  top: 46%;
  right: 10%;
  color: #dbdbe0;

}

.redicon {
  color: red;
  /* background-color: red; */
}