
a {
    text-decoration: none;
    color: black;
}

ul {
padding: 0;
margin:0;
}

address {
    font-style:normal;
}

h3 {
    font-weight: 800;
}

.mainUpperSlider{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.headerCartIcon{
    margin-left: 10px;
}

.upperCategoryContainer{
    /* font-size: 15px; */
   overflow:scroll;
   width:"100%";
}

.upperCategoryContainer::-webkit-scrollbar{
    display: none;
}

.menuChecked{
    border-bottom: 3px solid black;
}

.upperCategory {
    
    display: flex;
    width: 100%;
    overflow: scroll;
    height: 45px;
    align-items: center;
    margin: 0 15px;
    justify-content: space-between;

    /* overflow-x:scroll;
    width: 300%;
    list-style: none;
    display: flex;
    height: 45px;
    align-items: center;
    margin: 0 15px; */
}

.upperCategory::-webkit-scrollbar{
    display: none;
}

.upperCategory li {
    font-size: 200px;
    margin-right: 20px;
    font-weight: 550;
    letter-spacing: -1.3px;
    font-size: 0.85rem;
    width: 100%;
    text-align: center;
}

.mainCardsContainer{
    display: flex;
    margin-left: 15px;
    overflow: scroll;
    width: 100%;
    margin-top: 15px;
}

.mainCardsContainer::-webkit-scrollbar{
     display: none;
    }

.mainCategoryBox {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    margin: 5px;
    
}

.mainCategoryBox div {
    margin: 5px 3px;
}



.mainCategoryBox::-webkit-scrollbar{
    display: none;
}


.titleSubParts{
    margin: 0 15px;
}

.titleTop{
    letter-spacing: -1.1px;
}

.subTitle{
    letter-spacing: -1.1px;
    margin-top: 6px;
    color: #777777;
}



.nowBuyingIcons div{
    margin: 0 5px;
}









.item_boxs{
    display: flex;
    flex-direction: row;
    flex-wrap :nowrap;
}

.wrap{
    margin-left: 5px;
    width: 100px;
    height: 100px;
	border: 1px solid #000000;
	position: relative;
}


.wrap img {
    width: 100px;
    height: 100px;
	vertical-align: middle;
}

.text{
    font-size: 0.8rem;
    color: white;
    font-weight: 400;
	text-align: center;
	position: absolute;
    transform: translate(-50%, -50%);
    bottom:0%;
    left:50%
}


.titleBottom {
    display: flex;
    justify-content: space-between;
}


.mainFourCard {
    padding: 15px 0px;
}

.MainItemsRight {
    display: flex;
    margin: 15px 15px;
}

.MainItemLeftParts{
    width: 100%;
    margin-right: 15px;

}
.MainItemLeftParts img {
    width: 100%;
}


.MainItemRightParts {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MainItemRightParts img {
    width: 100%;
}


.titleUnderIcon{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.titleIcons {
    display: flex;
   
}

.mainGrid{
    display: flex;
    flex-direction: column;
}

.upperGrid{
    display: flex;
}

.underGrid{
    display: flex;
}

.mainCards{
    margin-right: 6px;
    width: 90px;
    height: 140px;
    overflow: hidden;
    border-radius: 10%;
    background: #363635;
    color: white;
}

.mainCardsBox{
    height: 120px;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upperCard{

    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

/* .upperCard div img {
    margin: auto;
} */

.upperCardIcon {
    width: 20px;
    height: 20px;
    /* display: flex;
    justify-content: center; */
}

.upperCardIcon img {
    width: 100%;
}

.mainCardTitleSub div:nth-child(1){
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.8px;
}
.mainCardTitleSub div:nth-child(2){
    font-size: 11px;
    letter-spacing: -0.3px;
}

.mainRankLinkContainer{
    overflow-x: scroll;
}

.mainRankLinkContainer::-webkit-scrollbar{
    display: none;
}

.mainRankLink{
    display: flex;
    list-style: none;
    
    width:max-content;
    margin-left: 15px;
}

.mainRankLinkList.selected_red{
    background-color: red;
    color: white;
}

.mainRankLink > li{
    margin-right: 10px;
    font-size: 14px;
    padding: 0 14px;
    height: 32px;
    line-height: 32px;
}

.mainRankLink > li a{
    width: 100%;
}

.starNReview {
    display: flex;
    flex-direction: row;
}

.starNReview > div {
    margin-right: 5px;
}

.mainHyper {
    text-align: right;
    color: gray;
}



/* Footer Contents */


/* Botton Nav */

.bottomNav ul {
    margin: 5 15px;
    padding-top: 3px;

    display: flex;
    list-style: none;
    justify-content: space-between;

    background: white;

    position: fixed;
    width: 100%;
    height: 50px;
    
    z-index: 100;
    
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.bottomNav li {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* background: blue; */
    text-align: center;
}

.bottomNav li div span {
    width: 100%;
    /* background: red; */
    

}


.mainFourTitleSub{
    display: flex;
    justify-content: space-between;
    letter-spacing: -1.2px;
    margin: 0 15px;
}


.mainFourTitleSub div h3 {
    font-size: 16px;
}

.mainFourTitleSub div p {
    margin-top: 2px;
    font-size: 14px;
    color: #777777;
}

.mainFourTitleSub div div:nth-child(2) p{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainFourTitleSub div div:nth-child(3) p{
    color: black;
    font-size: 18px;
    font-weight: 650;
}

.mainNowBuying{

    height: 24px;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0px;
}

.mainNowBuyingBox {
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    padding: 0 8px;
    vertical-align: middle;
    font-size: 12px;
}

.mainIconGrid{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.mainIconGrid > div {
    margin-bottom: 10px;
}

.mainIconGrid > div div {
    margin: 2px;
    font-size: 12px;
    letter-spacing: -1px;
}
/* 
.mainIconGrid p {
    font-size: 12px;
} */

/* MainItem */

.mainItemContainer{
    
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
}

.mainItemContainer::-webkit-scrollbar{
    display: none;
}

.mainItems{
    margin-right: 6px;
    position: relative;
}


.mainItemName{
    width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}

.mainItemsImgs img {
    width: 135px;
    height: 135px;
    position: relative;
}

.mainItemsContainer{
    position: relative;
}

.mainItemWishIcon{
    position: absolute;
    z-index: 100;
    right: 10px;
    bottom: 90px;
    color: #777777;

}



/* slider 슬라이더 메인 */

.mainEventSliderContainer{
    width: 100%;
    position: relative;
}

.mainEventSliderBox{
    z-index: 100;
    position: absolute;
    bottom: 140px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-left: 16px;
    letter-spacing: -0.5px;
}

.mainEventSliderStop{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    
}

.mainSliderQuarterContainer{
    letter-spacing: -1px;
}

.mainSliderQuarterContainer img{
    width: 98%; 
    
}


.mainSliderQuarterContainer h2{
    margin-top: 6px;
    font-size: 15px;
    font-weight: 700;
}


.mainSliderQuarterContainer p {
    color: #777777;
}


.hearChecked{
    color: red;
}