
.mypageProfile{
  margin: 20px 16px;
  display: flex;
}

.mypageProfileIcon{
  width: 50px;
  height: 50px;
}

.mypageProfileIcon img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.mypageProfileIcon span{
  font-size: 50px;
}

.mypageProfileDetail{
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  letter-spacing: -1px;
}

.mypageProfileDetail div:first-child{
  font-size: 18px;
  font-weight: 700;
}
.mypageProfileDetail div:last-child{
  font-size: 14px;
}

.mypageProfileDetail span{
  font-weight: 700;
  color: #ff3e3e;
}

.mypageFunctions{
  /* margin: 15px 15px; */
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  display: flex;
  justify-content: center;

  text-align: center;
}


.mypageFunctions span {
  margin-right: 6px;
  /* background-color: red; */
}
/* 
.mypageFunctions div:not(:first-child)::after {
  content: '|';
} */

.mypageFunctions div{
  margin-right: 10px;
  padding: 12px 0px;
}

.mypageFunctions div p {
  display: flex;
}

.mypageReviewBox{
  border: 1px solid #e5e5e5;
  text-align: center;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  margin: 10px 12px;
  border-radius: 8px;
}

.mypageReviewBox a{
  display: flex;
  justify-content: space-between;
}