.productContainer{
  margin: 0px 20px;
  letter-spacing: -0.5px;
  line-height: 150%;
}

.productTitleSubBox{
  margin-bottom: 16px;
}

.productTitleSubBox h4{
  font-size: 13px;
  text-decoration: underline;
  font-weight: 700;
}

.productTitleSubBox h3{
  font-size: 16px;
  font-weight: 500;
}

.productTitleSubBox p{
  color: #777;
}

.productPriceBox{
  margin-bottom: 10px;
}

.productPriceBox h3{
  font-size: 26px;
  font-weight: 700;
}

.productPriceBox span{
  font-size: 22px;
  font-weight: 400;
}

.productTopReviewBox{
  display: flex;
  margin-bottom: 20px;
}

.productTopReviewBox div {
  margin-right: 8px;
}

.productDetailBox{
  line-height: 100%;
  margin-bottom: 40px;
  
}

.productDetailBox p {
  font-size: 19px;
  font-weight: 700;
}

.productDetailBox img {
  width: 100%;
  
}


.productDetailImgBefore{
  overflow: hidden;
  height: 1500px;
  position: relative;
}

.productDetailImgBefore div{
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: white;
  line-height: 50px;
}


.productDetailImgBlur{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}

.productDetailImgAfter{
  position: relative;
}

.productDetailImgAfter div{
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.productBottomReviewBox h2{
  font-size: 19px;
  font-weight: 700;
}

.productBottomReviewBox h4{
  font-size: 16px;
  font-weight: 700;

}

.productBottomReviewBox h3{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  
}

.productBottomReviewAllTitle{
  display: flex;
  justify-content: space-between;
}

.productBottomReviewAllTitle div:nth-child(1){
  font-size: 16px;
  font-weight: 700;
}

.productBottomReviewAllTitle div:nth-child(2){
  color: #777;
}

/* 리뷰 카드 */

.productReviewCard{
  margin-bottom: 24px;
}

.productReviewCardTop{
  display: flex;
  font-size: 13px;
}

.productReviewCardTop div{
}

.productReviewCardTop div:not(:last-child)::after{
  content: '|';
  margin: 0 6px;
}

.productReviewCardImg img{
  width: 50px;
  height: 50px;
  background-color: skyblue;
}

.productReviewCardBottom{
  display: flex;
  justify-content: space-between;
}

.productReviewCardBottom div:first-child{
  padding-right: 12px;
}

.productReviewCardBottom p{
  font-size: 14px;
}

.productReviewCardBottom div:nth-child(2) p{
  line-height: 42px;
}


/* 바텀 네브 */

.productBottomButtonContainer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  line-height: 50px;
  text-align: center;
}

.productBottomButtonTwo{
  display: flex;
}

.productBottomButtonTwo > div{
  border-right: 1px solid lightgray;
}

.productBottomButtonTwo div span{
  line-height: 50px;
}


.productBottomButtonHeart{
  width: 50px;
}



.productBottomButtonPresent{
  width: 110px;
}

.productBottomButtonPurchase{
  width: 100%;
  background-color: #ff3e3e ;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.productBottomButtonOne{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.productBottomButtonOption{
  position: fixed;
  bottom: 50px;
  background-color: white;
  width: 100%;
  text-align: center;
  
}

.productBottomButtonOption div{
  margin: 12px 16px;
}

.productBottomButtonOptionSelect{
  border: 1px solid lightgray;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 6px;
}

.productBottomButtonOptionSelect span{
  line-height: 40px;
}

.productBottomButtonOptionDown{
  height: 24px;
}

.productBottomButtonOptionDown span{

  height: 24px;
  line-height: 24px;
}

.productBottomButtonPrice h4{
  display: flex;
  justify-content: right;
}

.productOptionDetailContainer{
  height: 500px;
  background-color: red;
  z-index: 100000;
  position: fixed;

  bottom: 0;
  text-align: center;
  width: 100%;
}

.productOptionDetailContainer div {
  margin: 8px 16px;
}

.noBoder{
  border: none;
}


/* 슬라이더 */

.productSliderContainer {
width: 100%;
position: relative;
}

.productSliderNumbering{
  margin: auto;
  background-color: rgba(34, 34, 34, 0.15);
  padding: 2px 6px;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  bottom: 5%;
  border-radius: 12px;
  height: 22px;
  line-height: 22px;
  max-width: 50px;
  text-align: center;
  left: 0;
  right: 0;
}