
.signupTopHead{
  height: 50px;
  background-color: #f8f8f8;
  line-height: 50px;
  padding: 0px 20px;
  color: #666;
}


.signupEntryButton{
height: 50px;
background-color: #ff5b59;
text-align: center;
line-height: 50px;
margin: 10px 10px;
}

.signupEntryButton a {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.signupEntryButton div{
  color: white;
  font-weight: 500;
  font-size: 16px;
}


.signupEntryIcons{
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
}

.signupEntryIcons img{
  width: 90px;
  height: 90px;
  /* background-color: black; */
  border-radius: 100%;
}

.signupEntryIcons.underIcons{
  font-size: 12px;
  margin: 30px 0px;
}

.signupEntryIcons.underIcons img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.signupAuthContainer{
  text-align: center;
}

.signupAuthMethod{
  display: flex;
  justify-content: center;
}

.signupInfoFieldContainer{
  margin: 0px 20px;
}

.signupInfoFieldBoxUnder{
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.signupInfoFieldBoxUnder input{
  height: 30px;
  border : 1px solid #777;
  min-width: 270px;
}

.signupInfoFieldBoxUnder{
  line-height: 30px;
}

.signupInfoFieldBoxUnder p::before{

  content: '*';
  color: red;

}


.signupAuthMethodParts{
  background-color: red;
  width: 40%;
  height: 100px;
}


.signupAuthUnder{
  text-align: left;
  margin: 0px 20px;
}


.signupInfoIdInput{
  display: flex;
  flex-direction: column;
}

.myInfoSettingContainer div{
  padding: 0px 16px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgb(203, 203, 203);

}

.myInfoChangeModalContainer{
  padding: 0px 16px;

}

.myInfoChangeModalContainer div{
  display: flex;
  margin: 12px 0px;
  justify-content: space-between;
}

.myInfoChangeModalContainer div input{
  width: 260px;
}
.myInfoChangeButton p{
  font-weight: 600;
  color: white;
  background: #ff5b59;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
}